<h3>Reply to the Question</h3>
    <p2>This topic have the question is <%= @topic.askquestions.count%></p2>

<% provide(:title, @topic.name) %>
           
    
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          

        <li><%= link_to "View other topic", topics_path %></li><!--new in 11.14 17-->
        


        <%= link_to 'New Question', new_askquestion_path %>


        </section>
      </aside>
     
    
    </div>
            <section class="user_info">

     <% @topic.askquestions.each do |askquestion| %>
       
         <li><%= link_to askquestion.name,askquestion%></li>

         <%=askquestion.content%>
             <%=askquestion.id%>

 <% end -%>
         </section>


 </section>
<h3>Who have the same topic</h3>
 <p2>The number of users interesting in this topic  is <%= @topic.users.count%></p2>

<ul class="users">

         <%@topic.users.each do |user|%>
    
    <li>
    
       <%=link_to user.name,user%>
      
    </li>
    <% end %>
</ul>