<% provide(:title, @user.name) %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <h1>
            <%= gravatar_for @user %>
            <%= @user.name %>
             
          </h1>

          
        </section>
        <h6><p>Description:</p><%= @user.description %></h6>
 <section class="stats">
    <%= render 'shared/stats' %>
  </section>

        
      </aside>
      <div class="col-md-8">

        <%= render 'follow_form' if logged_in? %>
        <% if @user.microposts.any? %>
          <h3>Microposts (<%= @user.microposts.count %>)</h3>
          <ol class="microposts">
            <%= render @microposts %>
          </ol>
        <% end %>
      </div>


    </div>


   <%= link_to "SHOW MY TOPIC", '#' , id: "comments-link" %>

     <section id="topic-section">
<h3>Interesting topic count is  <%= @user.topics.count%></h3>
     <% @user.topics.each do |topic| %>
   <ul class="users">
    <li> <%=link_to topic.name,topic%><li>
</ul>
 <% end -%>
        </section>






<h3>You have asked question is  <%= @user.askquestions.count%></h3>
     <% @user.askquestions.each do |askquestion| %>
   <ul class="users">
    <li> <%=link_to askquestion.name,askquestion%><li>
</ul>
 <% end -%>