<%provide(:title,'ALL QUESTIONS')%>





<ul class="users">
  <h1>All Questions</h1>

	<%@askquestions.each do |askquestion|%>
 
    <div class="container1">

      <div class="thumbnail ">

     <p>Topic :    
         <%= link_to askquestion.topic.name, askquestion.topic %>
       </p>



 <li >
    <%= link_to askquestion.name, askquestion   %>

<br>
    <span class="content"><%= askquestion.content %></span>
	</li>
    <li>
       <p>This question is asked by :   </p>
      
         
       
 <%= link_to gravatar_for(askquestion.user, size: 50), askquestion.user %> 
 <%= link_to askquestion.user.name,askquestion.user %>

<br>
 <span class="timestamp">

 Posted <%= time_ago_in_words(askquestion.created_at) %> ago.

  </span >

      
</li>	

	 </div>
	  </div>
	<% end %>
</ul>

<%= link_to 'New Question', new_askquestion_path ,class: "btn btn-large btn-primary"%>
   







   


