
   <h3><%= @askquestion.name%></h3>

  <h5><%= @askquestion.content%></h5>
   
 <p2>This question is ask by <%= link_to @askquestion.user.name, @askquestion.user%></p2>
    
<br>
<br>




 <section >
  
<p2>Answer count is <%= @askquestion.answerquestions.count%></p2>

  <% @askquestion.answerquestions.each do |answerquestion| %>

     <p>Some one said:</p> 

     <%= answerquestion.content %> 
 <% end -%>

         </section>
          
<%= form_for [@askquestion,@askquestion.answerquestions.build] do |f| %>  
   

  <p><%= f.text_area :content %> </p>  

  
  <p><%= f.submit "Post Comment",class: "btn btn-large btn-primary"  %> </p>  

 <br>
<% end %>  



<%#<%= render 'answerquestions/form'%>
<%= link_to 'View more Topic', topics_path %>
