
   
<div class="container1">

      <div class="jumbotron">


   <h3><%= @askquestion.name%></h3>

  <h5><%= @askquestion.content%></h5>

   
 <p2>This question is ask by <%= link_to @askquestion.user.name, @askquestion.user%></p2>
    
<br>
<br>

</div>
</div>


 <section >
  
<ul class="nav nav-pills">
  <li class="active">
    <a href="#">
      <span class="badge pull-right">  <p2> <%= @askquestion.answerquestions.count%></p2>
</span>
     Answer count is
    </a>
  </li>


</ul>
</div>
<div> 














  <% @askquestion.answerquestions.each do |answerquestion| %>

   
<div class="container">

      <div class="jumbotron">
         <%= link_to gravatar_for(answerquestion.user, size: 50), answerquestion.user %> 
    <tr> <%=answerquestion.content %> </tr>

    <tr> <%= link_to "view more ",answerquestion %> </tr>
   
    <li> <%= link_to answerquestion.user.name,answerquestion.user %> </li>
    <%= link_to "Like", controller: "askquestions", action: "bindvote", id: answerquestion.id%>

     <%= answerquestion.voters.count %>










  </div>

</div>
 <% end -%>







<div class="container">

         </section>
          <P>Post your own answer....</p>
   <%= form_for [@askquestion,@askquestion.answerquestions.build] do |f| %>  
   

  <p><%= f.text_area :content  %> </p>  

    <br>
 

  <p><%= f.submit "Post Answer",class: "btn btn-large btn-primary"  %> </p>  

 <br>
<% end %> 
</section>



<%#<%= render 'answerquestions/form'%>
<%= link_to 'View more Topic', topics_path %>
      </div>

