
   <h3><%= @askquestion.name%></h3>

  <h5><%= @askquestion.content%></h5>
   
 <p2>This question is ask by <%= link_to @askquestion.user.name, @askquestion.user%></p2>
    
<br>
<br>




 <section >
  
<p2>Answer count is <%= @askquestion.answerquestions.count%></p2>

  <% @askquestion.answerquestions.each do |answerquestion| %>
      <p>Answer</p> 
     <%= answerquestion.content %>

 <% end -%>
  <br>


    
         </section>
          

 <%= render 'answerquestions/form'%>
<%= link_to 'View more Topic', topics_path %>
